<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head >
<body class="sb-nav-fixed">
<nav th:replace="admin/layout :: topNavBar"></nav>
<div id="layoutSidenav">
    <div th:replace="admin/layout :: navigation"></div>
    <div id="layoutSidenav_content">
        <!--                =============== BODY =====================================================-->


        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Danh sách công nhân</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Tổng quan</a></li>
                    <li class="breadcrumb-item active">Danh sách công nhân</li>
                </ol>


                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 style="color:#007bff;margin:0px;text-align:center;font-weight:bold">Thêm mới công nhân</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal fade" id="addHangSX" tabindex="1" role="dialog"
                                 aria-labelledby="addHangSX" aria-hidden="true"
                                 style="background: rgba(0, 0, 0, 0.20);">
                                <div class="modal-dialog modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content"
                                         style="height:450px;width:250px;margin:auto">
                                        <div class="modal-header">
                                            <h6 style="color: #007bff;margin: 0px;text-align: center;font-weight: bold">
                                                Thêm mới hãng sản xuất</h6>
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/admin/addhangsx" method="post">
                                            <div class="model-body" style="padding:10px 20px">
                                                <div class="form-group"
                                                     style="margin-bottom:0px">
                                                    <div class="form-group col-md-6" style="max-width: 90%;">
                                                        <label for="">Mã hãng sản xuất</label>
                                                        <input type="number" class="form-control"
                                                               name="MaHangSX"
                                                               id="MaHangSX"
                                                               value=""
                                                               required
                                                               placeholder="">
                                                    </div>
                                                    <div class="form-group col-md-6" style="max-width: 90%;">
                                                        <label for="">Tên hãng sản xuất</label>
                                                        <input type="text" class="form-control"
                                                               name="TenHang"
                                                               id="TenHang"
                                                               required
                                                               placeholder="">
                                                    </div>
                                                    <div class="form-group col-md-6" style="max-width: 90%;">
                                                        <label for="">Trụ sở chính</label>
                                                        <input type="text" class="form-control"
                                                               name="TruSoChinh"
                                                               id="TruSoChinh"
                                                               placeholder="">
                                                    </div>
                                                    <div class="form-group col-md-6" style="max-width: 90%;">
                                                        <label for="">Quốc gia</label>
                                                        <input type="text" class="form-control"
                                                               name="QuocGia"
                                                               id="QuocGia"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <button style="float: right;margin-top: 2px;"
                                                        type="submit" class="btn btn-primary">
                                                    Lưu
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="addLoaiSP" tabindex="1" role="dialog"
                                 aria-labelledby="addLoaiSP" aria-hidden="true"
                                 style="background: rgba(0, 0, 0, 0.20);">
                                <div class="modal-dialog modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content"
                                         style="height:290px;width:250px;margin:auto">
                                        <div class="modal-header">
                                            <h6 style="color: #007bff;margin: 0px;text-align: center;font-weight: bold">
                                                Thêm mới loại sản phẩm</h6>
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" action="/admin/addloaisp">
                                            <div class="model-body" style="padding:10px 20px">
                                                <div class="form-group"
                                                     style="margin-bottom:0px">
                                                    <div class="form-group col-md-6" style="max-width: 90%;">
                                                        <label for="">Mã Loại sản phẩm</label>
                                                        <input type="number" class="form-control"
                                                               name="MaLoai"
                                                               value=""
                                                               required
                                                               placeholder="">
                                                    </div>
                                                    <div class="form-group col-md-6" style="max-width: 90%;">
                                                        <label for="">Tên Loại sản phẩm</label>
                                                        <input type="text" class="form-control"
                                                               name="TenLoai"
                                                               required
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <button style="float: right;margin-top: 2px;"

                                                        type="submit" class="btn btn-primary">
                                                    Lưu
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="model-body" style="padding:10px 20px">
                                <form method="post" action="/admin/addproduct" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <div class="form-group" style="display: flex;margin: 0px;">
                                                <div class="form-group col-md-6" style="padding-right: 10px;">
                                                    <label for="">Loại sản phẩm :</label>
                                                    <div style="display: flex;">
                                                        <select id="" name="LoaiSp" class="form-control" required>
                                                            <option value=""> --- ---</option>
                                                            <th:block th:each="LoaiSP : ${LoaiSPs}">
                                                                <option name="LoaiSp"
                                                                        th:text="${LoaiSP.getMaLoai()} + ' - ' + ${LoaiSP.getTenLoai()}"
                                                                        th:value="${LoaiSP.getMaLoai()}"></option>
                                                            </th:block>
                                                        </select>
                                                        <button title="Thêm mới loại sản phẩm" type="button"
                                                                id="btn-add-movie" class="btn btn-primary"
                                                                data-toggle="modal" data-target="#addLoaiSP">
                                                            +
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6" style="padding-right: 10px;">
                                                    <label for="">Hãng sản xuất :</label>
                                                    <div style="display: flex;">
                                                        <select name="HangSx" class="form-control" required>
                                                            <option value=""> --- ---</option>
                                                            <th:block th:each="item : ${HangSXs}">
                                                                <option th:text="${item.getMaHangSx()} + ' - ' + ${item.getTenhang()}"
                                                                        th:value="${item.getMaHangSx()}"></option>
                                                            </th:block>
                                                        </select>
                                                        <button title="Thêm mới hãng sản xuất" type="button"
                                                                class="btn btn-primary" id="btn-add-movie"
                                                                data-toggle="modal" data-target="#addHangSX">
                                                            +
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display:flex;margin: 0px;">
                                                <div class="form-group col-md-5" style="padding-right: 20px;">
                                                    <label for="">Tên sản phẩm :</label>
                                                    <div style="display: flex;">
                                                        <input type="text" class="form-control" name="tenSp" required
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-5" style="padding-right: 20px;">
                                                    <div class="form-group" style="margin: 0px;">
                                                        <label>Mã sản phẩm :</label>
                                                        <input type="number" class="form-control" name="maSp" required
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-2" style="padding-right: 20px;">
                                                    <div class="form-group" style="margin: 0px;">
                                                        <label>Số lượng :</label>
                                                        <input type="number" class="form-control" name="soLuong"
                                                               required
                                                               placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display:flex;margin: 0px;">
                                                <div class="form-group col-md-6" style="padding-right: 20px;">
                                                    <label for="">Xuất xứ :</label>
                                                    <div style="display: flex;">
                                                        <input type="text" class="form-control" name="xuatxu" required
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6" style="padding-right: 20px;">
                                                    <div class="form-group" style="margin: 0px;">
                                                        <label>Giá :</label>
                                                        <input type="number" class="form-control" name="gia" required
                                                               placeholder="">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group" style="margin: 0px;">
                                                <label>Mô tả sản phẩm : </label>
                                                <textarea style="height: 100px;width:100%;" class="form-control"
                                                          name="mota"
                                                          id="mota"></textarea>
                                            </div>
                                            <div class="form-group" style="margin: 0px;margin-top:20px;">
                                                <label class="form-label">Chọn ảnh sản phẩm : </label>
                                                <input type="file" name="fileImage" id="fileImage"
                                                       accept="image/png, image/jpeg"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="container">
                                                <div class="uploaded_file_view show" id="uploaded_view"
                                                     style="background:#ccc;">
                                                    <img src="" id="thumbnail" alt="Image Preview"/>
                                                </div>
                                            </div>
                                            <button id="btn-save-movie" type="submit" class="btn btn-primary">Tải lên
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;" th:if="${response}" th:text="${response}"
                     th:class="'alert ' + ${alertClass}"/>
            </div>
            <div></div>
            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-table fa-w-16 mr-1" aria-hidden="true" focusable="false"
                         data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z"></path>
                    </svg><!-- <i class="fas fa-table mr-1"></i> Font Awesome fontawesome.com -->
                    Danh sách công nhân
                </div>
                <button id="btn-addMovie" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    + Thêm công nhân mới
                </button>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <form action="/admin/all-product" method="get">
                                        <div id="dataTable_filter" class="dataTables_filter"><label>
                                            <button class="btn btn-primary">Tìm kiếm</button>
                                            <input
                                                    type="search" class="form-control form-control-sm"
                                                     placeholder="Search by id or name"
                                                    name="search"
                                                    aria-controls="dataTable">
                                            <input
                                                    type="search" class="form-control form-control-sm"
                                                    name="search"
                                                    aria-controls="dataTable">
                                        </label></div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable no-footer" id="dataTable" width="100%"
                                           cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                           style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Mã công nhân</th>
                                            <th>Họ tên</th>
                                            <th>Ngày sinh</th>
                                            <th>Phòng ban</th>
                                            <th>Chức vụ</th>
                                            <th>Giới tính</th>
                                            <th>Lương hợp đồng</th>
                                            <th>Mã danh mục công nhân</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="congNhan : ${congNhans}">
                                            <td th:text="${congNhan.getMaCongNhan()}"></td>
                                            <td th:text="${congNhan.getHoTen()}"></td>
                                            <td th:text="${congNhan.getNgayNamSinh()}"></td>
                                            <td th:text="${congNhan.getPhongBan()}"></td>
                                            <td th:text="${congNhan.getChucVu()}"></td>
                                            <td th:text="${congNhan.getGioiTinh()}"></td>
                                            <td th:text="${#numbers.formatDecimal(congNhan.getLuongHopDong(), 0, 'COMMA', 0, 'POINT') +' VNĐ'}"></td>
                                            <td th:text="${congNhan.getMaDanhMucCongNhan()}"></td>

                                            <td style="border-bottom: 1px solid #dee2e6;">
                                                <ul class="btn-actions">
                                                    <li><a class="btn btn-primary" id="btn-edit"
                                                           th:href="@{''}">Sửa</a>
                                                    </li>
                                                    <li><a class="btn btn-primary"
                                                           onclick="return confirm('Bạn có chắc muốn xoá sản phẩm này ??')"
                                                           th:href="@{''}"
                                                           id="btn-delete">Xóa</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div th:if="${bookPage.totalPages > 0}" class="pagination"
                                     th:each="pageNumber : ${pageNumbers}">
                                    <a th:href="@{/admin/employees(size=${bookPage.size}, page=${pageNumber})}"
                                       th:text="${pageNumber}"
                                       th:class="${pageNumber==bookPage.number + 1} ? 'page-link active' : 'page-link'"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">

            </div>
        </footer>

        <!--                ==========================================================================-->
    </div>
</div>
<div th:replace="admin/layout :: footer"></div>
</body>
</html>
<script>
    document.title="Danh sách sản phẩm";
</script>
