<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body class="sb-nav-fixed">
<nav th:replace="admin/layout :: topNavBar"></nav>
<div id="layoutSidenav">
    <div th:replace="admin/layout :: navigation"></div>
    <div id="layoutSidenav_content">
        <!--                =============== BODY =====================================================-->

        <h1>Hello</h1>

        <!--                ==========================================================================-->
    </div>
</div>
<div th:replace="admin/layout :: footer"></div>
</body>
</html>
<script>
    document.title = "Trang chủ";
</script>